- name: Set facts
  set_fact:
    name: "{{ pod }}"
- name: "Disable stop service {{ name }}-pod.service"
  systemd:
    name: "{{ name }}-pod.service"
    state: stopped
    enabled: false
  ignore_errors: True
  changed_when: false
  no_log: True
- name: Concat ports
  set_fact:
    publish_arg: "-p {{ ports | join(' -p ') }}"
  when: ports is defined
- name: Deploy systemd service for pod
  become: true
  template:
    src: systemd-pod.j2
    dest: "/etc/systemd/system/{{ name }}-pod.service"
- name: "Enable pod service {{ name }}-pod.service"
  become: true
  systemd:
    name: "{{ name }}-pod.service"
    state: started
    enabled: true
    daemon_reload: yes